.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 537px;
    top: 140px;     
  }
  
  #header-2{
    position: absolute;
    width: 1053px;
    height: 32px;
    left: 190px;
    top: 183px;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    letter-spacing: 0.1px; 
  }

  #card-1 {
    position: absolute;
    width: 275px;
    height: 295px;
    left: 196px;
    top: 240px;    
  }

  #card-2 {
    position: absolute;
    width: 275px;
    height: 295px;
    left: 585px;
    top: 240px;    
  }

  #card-3 {
    position: absolute;
    width: 275px;
    height: 295px;
    left: 965px;
    top: 240px;    
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
  }

  .container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0,0.05),
    inset -5px -5px 5px rgba(255,255,255,0.5),
    5px 5px 5px rgba(0,0,0,0,0.05)
    -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
  }

  .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: o 10px 20px rgba(0,0,0,0,1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
  }

  .container .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0,0.2);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
  }

  .container .card .box .content {
    padding: 20px;
    text-align: center;
  }

  .container .card:hover .box .content h6 {
    z-index: 1;
    transition: 0.5s;
  }

  .container .card:hover .box .content h2 {
    z-index: 1;
    transition: 0.5s;
  }

    table {
      border-collapse: collapse;
      width: 50%;
      position:absolute;
      left: 360px;
      top: 900px;
    }
  
    table, th, td {
      border: 2px solid #201e44;
      padding: 8px;
    }

    td {
      text-align: center;
    }
  
    table, tr:nth-child(even){background-color: #ffffff;}
    table, tr:hover {background-color:#99b8fa;}
    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #201e44;
      color: #99b8fa;
    }
  
    table.center {
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        }

    
