h1{
    margin: 15px;
}

p{
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    

}

div {
    text-align: justify;
    text-justify: inter-word;
    
}

.gambar_protokol {
    text-align: center;
    max-width: 93%;
    border-radius: 30px;
    margin: auto;
}

.accordion-button collapsed{
    color: azure;
}

div.container-xxl{
    text-align: center;
    padding: 175px 25px 175px 25px;
}

.selamat-datang{
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    left: 3rem;
    font-size: 100px;
    text-align: center;
}

.paraf-selamat-datang{
    position: absolute;
    text-align: center;
}

/* .board{
    width: 200px;
    column-count: 2;
    column-gap: 1rem;
    justify-content: center;
} */

/* .card{
    width: 84%;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: var(--background-color);
    color: #cac3be;
    padding: .5em 1em;
    border: #cac3be;
    outline: #edeae5;
    position: relative;
    cursor: pointer;

    --background-color: azure;
    --accent-color: #FF2442;
} */

/* .card-1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left; */


/* .card-1:hover::before,
.card-1:focus::before{
    transform: scaleX(1);
}

.card-1{
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.card-1:hover,
.card-1:focus{
    color: #FF2442;
} */


/* .card span{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
} */

.cover {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url(background-corona-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }


/* .cardscontainer {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    margin-top: 10vh;
    justify-content: center;
  } */

.ukuran{
    height: 100vh;
    width: 100vh;
}


.tengah{
    justify-content: center;
}

.btn{
    background-color: var(--background-color);
    color: #edeae5;
    padding: .5em 1em;
    border: none;
    position: relative;
    cursor: pointer;

    --background-color: #cac3be;
    --border-size: 2px;
    --accent-color: #edeae5;
}

.btn.btn-primary::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;

    transform: scaleX(0);
}

.btn.btn-primary:hover::before,
.btn.btn-primary:focus::before{
    transform: scaleX(1);
}

.collapse:active::before,
.collapse:focus::before{
    color: #edeae5;
}

/* .accordion.accordion-button:active::before,
.accordion.accordion-button:focus::before{
    color: #edeae5;
    border-collapse: unset;
    box-shadow: none;
} */

.carousel-item {
    height: 32rem;
    background-color: azure;
    color: azure;
    position: relative;
    background-position: center;
    background-size: cover;

}

.container.car{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
}

div.carousel-indicators{
    color: black;
}

a.sumber{
    color: black;
}

a.sumber:hover,
a.sumber:focus{
    color: #cac3be;
}

div.card{
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: #cac3be;
    justify-content: center;
}

div.card:hover,
div.card:focus{
    transition: ease-in-out;
    color: azure;
    background-color: #000D6B;
}

div.card.a:hover,
div.card.a:focus{
    transition: ease-in-out;
    background-color: #FF2442;;
}

div.row.a{
    justify-content: center;
}


#welcome{
    min-height: 100vh;
}

#gambar_warna {
    color: black;
    font-family: 'Sora', sans-serif;
}


#accback{
    background-color: #edeae5;
}

#accbutton{
    background-color: #cac3be;
    border-color: #cac3be;
}

#acccoll{
    background-color: #cac3be;
    border-color: #cac3be;
}
#acccoll:active, 
#acccoll:focus{
    color: #edeae5;
    box-shadow: none!important;
}




