h1{
    margin: 15px;

}

p{
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
}

div {
    text-align: justify;
    text-justify: inter-word;
  }

#accback{
    background-color: #edeae5;
}

#accbutton{
    background-color: #cac3be;
}