.remove {
    background-color: #6e4141; 
    border-radius: 12px;
    border: none;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.remove:hover{
    background: inherit;
    color: #752222;
    border-bottom: 2px solid;
}

.regis {
    background-color: #b19d8f; 
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 24px;
    height: 50px;
    margin-top: 5px;
    margin-right: 25px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    display: inline-block;
}   

.regis:hover {
    background: inherit;
    color: #4b6148;
    border-bottom: 2px solid;
}