{% extends 'base.html' %}
{% load static %}
{% block css %}
<!-- bootstraps css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock css %}
{% block content %}
  <head>
    <title>Indeks Kewaspadaan</title>
  </head>
  <div class = "container" style="margin-left: 33px" >
    <br><br><br><br>
  <h1 class="display-4"><b>Indeks Kewaspadaan Covid-19</b></h1>
  <h2 class="blockquote"><b>Apa yang ditunjukkan oleh indeks ini?</b></h2>
  <h3 class="blockquote">Indeks ini menunjukkan besarnya resiko Anda tertular Covid pada setiap wilayah di Indonesia<br>
      Selalu Tingkatkan kewaspadaan dan Perketat protokol kesehatan, khususnya pada daerah-daerah rawan Covid-19</h3>
    <div style="text-align: center;">
      <iframe title="Indeks Kewaspadaan" aria-label="Map" id="datawrapper-chart-DfOth" src="https://datawrapper.dwcdn.net/DfOth/5/" 
      scrolling="no" frameborder="1" style="width: 0; min-width: 100% !important; border: none; padding: none;" height="392" >
      </iframe>
      <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"])
      {var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++)
      {if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
      </script>
    </div>
  <br>
  <h2 class="blockquote">Peta indeks ini juga disajikan dengan berbagai indikator berbeda:</h2>

  <h2 class="display-6"><b>Kasus Harian</b></h2>
    <div style="text-align: center;">
      <iframe title="Indeks Kewaspadaan" aria-label="Map" id="datawrapper-chart-DfOth" src="https://datawrapper.dwcdn.net/gn31x/1/" 
      scrolling="no" frameborder="1" style="width: 0; min-width: 100% !important; border: none; padding: none;" height="392" >
      </iframe>
      <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"])
      {var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++)
      {if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
      </script>
    </div>
  <br>
  <h2 class="display-6"><b>Kasus Aktif</b></h2>
    <div style="text-align: center;">
      <iframe title="Indeks Kewaspadaan" aria-label="Map" id="datawrapper-chart-DfOth" src="https://datawrapper.dwcdn.net/hMMxg/1/" 
      scrolling="no" frameborder="1" style="width: 0; min-width: 100% !important; border: none; padding: none;" height="392" >
      </iframe>
      <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"])
      {var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++)
      {if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
      </script>
    </div>
  <br>
  <h2 class="display-6"><b>Case Fatality Rate (CFR)</b></h2>
  <h4>CFR menunjukkan tingkat kematian untuk kasus positif Covid-19</h4>
    <div style="text-align: center;">
      <iframe title="Indeks Kewaspadaan" aria-label="Map" id="datawrapper-chart-DfOth" src="https://datawrapper.dwcdn.net/3FH2E/1/" 
      scrolling="no" frameborder="1" style="width: 0; min-width: 100% !important; border: none; padding: none;" height="392" >
      </iframe>
      <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"])
      {var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++)
      {if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
      </script>
    </div>
  <br>
  <h2 class="display-6"><b>Rasio Lacak Isolasi (RLI)</b></h2>
  <h4>RLI adalah perbandingan jumlah suspect dan kontak dengan jumlah kasus terkonfirmasi Covid-19</h4>
    <div style="text-align: center;">
      <iframe title="Indeks Kewaspadaan" aria-label="Map" id="datawrapper-chart-DfOth" src="https://datawrapper.dwcdn.net/b1RaZ/1/" 
      scrolling="no" frameborder="1" style="width: 0; min-width: 100% !important; border: none; padding: none;" height="392" >
      </iframe>
      <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"])
      {var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++)
      {if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
      </script>
    </div>
  
  <br>
  <h4 class="blockquote">*Peta indeks kewaspadaan di atas dibuat dengan referensi dari situs <a href = 'https://kawalcovid19.id/'>kawalcovid19</a> dengan pengubahan seperlunya.</h4>
  <br>

  <h2><b>Saran Indikator</b></h2>
  <p class="blockquote">Silakan masukkan saran indikator yang perlu ditambahkan pada form di bawah</p>
  <form method="POST" action="" class="form-group"> 
    {% csrf_token %}
      <label for="saran" style="color: black">Indikator</label>
      <input type="text" id="saran" class="form-control" placeholder="saran indikator yang ingin ditambah" name="indikator" >
    <br>
        <input type ="submit" value="Submit" class="submitButton">
  </form>
  <br>

</div>
  
{% endblock %}